:root {
  --light: #ecf0f1;
  --dark: #bb8fce;
  --green: #2ecc71;
  --red: #ff0000;
}
body {
  background-color: var(--light);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: center;
}

input {
  height: 2rem;
  width: 15rem;
  border: 0.1rem solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
}
input:focus {
  outline: none;
  border: 0.2rem solid blue;
}

.label {
  position: relative;
  top: 0;
  bottom: 0;
  left: 16px;
  display: flex;
  align-items: center;
}
.tags {
  font-size: 1.2rem;
}
.progress_bar span {
  position: absolute;
  display: inline-block;
  color: wheat;
}
/* .progress_bar {
  position: relative;
  justify-content: center;
} */

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  height: 1rem;
  width: 15rem;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  /* //Gradient texture
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, 0.1) 33%,
      rgba(0, 0, 0, 0.1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
    -webkit-linear-gradient(left, #09c, #f44);

  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%; */
  background-color: var(--c, blue);
}

progress[value]::-moz-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  background-color: var(--c, blue);
}
