:root {
  --light: #ecf0f1;
  --dark: #bb8fce;
  --green: #2ecc71;
  --red: #ff0000;
}
body {
  background-color: var(--light);
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: center;
}

input {
  height: 2rem;
  width: 15rem;
  border: 0.1rem solid #c0c0c0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px;
}
input:focus {
  outline: none;
  border: 0.2rem solid blue;
}

.tags {
  font-size: 1.2rem;
}
.progress_bar span {
  position: absolute;
  display: inline-block;
  color: wheat;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  height: 1.2rem;
  width: 15rem;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
}

progress[value]::-webkit-progress-value {
  background-color: var(--c, blue);
}

progress[value]::-moz-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  background-color: var(--c, blue);
}
